<div class="container md-5">
    <h1>Internal Server Error</h1>
    <h3>refresh page to make it go bye bye</h3>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="bold">this error is from the server - not angular</p>
        <ol>
            <li>
                check the network tab in dev tools
            </li>
            <li>
                blah blah blah blah blah blah blah blah blah
            </li>
        </ol>
        <h5>Stack Trace</h5>
        <code class="mt-5" style="background-color: whitesmoke">{{error.details}}</code>
    </ng-container>
</div>